@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,800);
@import "bootstrap.min.css";
a,a:link,a:visited{
  color:#212121;
  text-decoration: none;
  font-family:"Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  font-weight: 700; 
}
a:hover{
  color:#F4AB25;
  background-color:#FFECD9;
  text-decoration: none;
  font-family:"Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif; 
  font-weight: 700; 
}

body{
  background-color:#F8FF9C;  
}

.news{
  border:#87C78D solid 10px;
  background-color:#F8FF9C; 
}

.news_title{
  padding-left:5%;
}

.video{
  background-color:#F8FF9C;
  border:#87C78D solid 10px;  
  padding:5px;
}

.about_us{  
  border:#87C78D solid 10px;
  background-color:#F8FF9C; 
}
.content{
  padding-left:5%;
  padding-right:5%;
}
.title{
  font-weight:800;
  font-size:200%;
  text-align:center;  
}

.address{
  font-weight:600;
  font-size:110%;
}



.center_content{
  text-align:center;
}

@media screen and (max-width: 500px) {
  .content{
    font-size:110%;
  }
  .address{
   font-size:70%;	
  }
  
.item img{
    width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height:auto;
  }

  .story_content{
   margin-left:1%;
   margin-right:1%; 
   padding-left:1%;
   padding-right:1%;
   font-size:100%; 
}

}

@media screen and (min-width:500px) {
  .content{
    font-size:150%;
  }
.item img{
    width:40%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/    
  }

 .story_content{
   margin-left:10%;
   margin-right:10%;
   padding-left:20%;
 }
}

#myCarousel {
	margin: 50px 0 0 0;
}
#navbar-collapse ul {
	margin-top:0;
}
.carousel-inner img{
	margin: 0 auto;
}
.carousel-control{
	font-size: 100px;
	
}

.rescue_title{
  text-align:center;
  font-size:150%;
  font-weight:bold;
  color:blue;
}

.story_content{  
  border:1px solid #FF3030;
}

.rescue_story a,a:link,a:visited{
  color:#212121;
  text-decoration: none;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 700; 
}
.rescue_story a:hover{
  color:#F4AB25;
  background-color:#FFECD9;
  text-decoration: none;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 700; 
}

.help_them{
  margin-top:5%;
  text-align:center;
  
}

.help_them_title{
  text-align:center;
  font-size:250%;
  font-weight:bold;
  color:red;
}





