@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,800);
@import "bootstrap.min.css";
a,a:link,a:visited{
  color:#212121;
  text-decoration: none;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 700; 
}
a:hover{
  color:#F4AB25;
  background-color:#FFECD9;
  text-decoration: none;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 700; 
}

body{
  background-color:#F8FF9C;  
}

.news{
  border:#87C78D solid 10px;
  background-color:#F8FF9C; 
}

.news_title{
  padding-left:5%;
}

.video{
  background-color:#F8FF9C;
  border:#87C78D solid 10px;  
  padding:5px;
}

.about_us{  
  border:#87C78D solid 10px;
  background-color:#F8FF9C; 
}
.content{
  padding-left:5%;
  padding-right:5%;
}
.title{
  font-weight:800;
  font-size:200%;
  text-align:center;  
}

.address{
  font-weight:600;
  font-size:110%;
}

