@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,800);
@import "bootstrap.min.css";


body :target:before{
  display: block;
  content: "";
  height: 160px;
  margin: -160px 0 0;
}

.top{
  margin-bottom:6%;
  padding-top:110px;
}
.account{
  background:#F8FF9C;
  text-align:center;
  padding-left:5%;
  padding-top:3%;
  margin-left:20px;
  margin-right:20px;
  padding-bottom:10px;
  margin-bottom:10px;  
}
/*.account :before{
  content:'';
  display:block;
  margin-top:20%;
  height:0px;
  visibility:hidden;
}*/
#header{
  width:100%;
  color:#d18915;
	background:#87C78D;
   z-index:1000;
}

body{
  background-color:#87C78D !important;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 800; 
  color:#212121;
  overflow: scroll;
  overflow-x: hidden;
  position:relative;
}

.icon-bar {
   background-color:#000 !important;
}
.bg-orange{
  background-color: #d18915;
}
#myNavbar{
  
  width:100%;
  background-color: #22A8B2;
  font-size:20px;
  font-family:DFKai-sb;
  font-weight:600;
  min-height: 0px; 
}

 #myNavbar .active {
   #background-color:#FF9100;
   #border:solid 1px orange;
   font-weight:900;
}

#myNavbar a:hover{
  background-color:#FF9100;
  transition: background-color 0.4s;
}

 .navbar-brand,.navbar-nav li a {
    height:40px;
   }
#myNavbar a{
	color:#000000;
}

#myNavbar.menu5{
  margin-top:-15px;
}

.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse-center {
  text-align: center;
}

#youtube{
  width:80px;
}

#img2{
  margin-top:-10px;
}
#img1{
  margin-top:-18px;
  height:50px;
}

.April{
  background:#F8FF9C;
  padding-top:5%;
  padding-left:5%;
  margin-left:20px;
  margin-right:20px;

 
}