@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,800);
@import "bootstrap.min.css";



.loading * {
  display: none; 
}

.dots-loader:not(:required) {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  #margin-left:40%;
  #margin-top:30%;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  animation: dots-loader 5s infinite ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: .3s all;
}

@keyframes dots-loader {
  0% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

.loaded .dots-loader {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
}


body :target:before{
  display: block;
  content: "";
  height: 160px;
  margin: -160px 0 0;
}

.month{
  #background-color: #00E3E3;
  text-align:center;
  font-family:"Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;;
  font-weight: 800; 
  color:#212121;
  
}

.bg-orange .dropdown-menu{
    background-color: #00E3E3;
}

.bg-orange .dropdown-item:hover{
    background-color: #3C70EF;
}

.bg-orange{
  background-color: #3C70EF;  
}



.top{
  margin-bottom:4%;
  padding-top:10%;
}
.account{
  background:#F8FF9C;
  text-align:center;
  padding-left:5%;
  padding-top:3%;
  margin-left:20px;
  margin-right:20px;
  padding-bottom:10px;
  margin-bottom:10px;
  margin-top:10px;  
}
/*.account :before{
  content:'';
  display:block;
  margin-top:20%;
  height:0px;
  visibility:hidden;
}*/
#header{
  width:100%;
  color:#87C78D;
	background:#87C78D;
  z-index:1000;
}

body{
  background-color:#87C78D !important;
  font-family:"Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;;
  font-weight: 500; 
  color:#212121;
  overflow: scroll;
  overflow-x: hidden;
  position:relative;
    
}

.icon-bar {
   background-color:#000 !important;
}

#myNavbar{  
  width:100%;
	background-color: #22A8B2;
  padding-bottom:2px;
  font-size:20px;
  font-family:"Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;;
  font-weight:600;
  min-height: 0px; 
}

 #myNavbar .active {
   background-color:#FF9100;
   #border:solid 1px orange;
   font-weight:900;
}

#myNavbar a:hover{
  background-color:#FF9100;
  transition: background-color 0.4s;
}

 .navbar-brand,.navbar-nav li a {
    height:40px;
   }
#myNavbar a{
  color:#003D79 !important;
  #-webkit-text-stroke: 1px #005757;
  font-weight:900 !important;
  #margin-bottom:-1px;
  #margin-right:-1px;
  background-color:#22A8B2;
}

#myNavbar.menu5{
  margin-top:-15px;
}

.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse-center {
  text-align: center;
}
#youtube{
  width:80px;
}

#img2{
  margin-top:-10px;
}
#img1{
  margin-top:-18px;
  height:50px;
}

.April{
  background:#F8FF9C;
  margin-top:2%;
  padding-top:2%;
  padding-left:5%;
  margin-left:20px;
  margin-right:20px;
}

#a10904{
  background:#F8FF9C;
  padding-top:5%;
  padding-left:5%;
  margin-left:20px;
  margin-right:20px;
  
}

#a10903{
  background:#F8FF9C;
  padding-top:5%;
  padding-left:5%;
  margin-left:20px;
  margin-right:20px;
  
}

#myCarousel {
	margin: 50px 0 0 0;
}
#navbar-collapse ul {
	margin-top:0;
}
.carousel-inner img{
	margin: 0 auto;
}
.carousel-control{
	font-size: 100px;
	
}

.donate_photo{
  text-align:center;
  margin-left:5%;
  margin-right:10%;
}

img{
    max-width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height:auto;
}

@media screen and (max-width: 500px) {
  .item img{
    width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height:auto;
  }
  
  .logo{
    margin-bottom:-3%;
    margin-top:-3%;
  }
  
  .donate_month{   
    margin-top:10%;
  }
  
  .dots-loader{
    margin-top:300px;
  }
  
  .account_title{
  font-size:110%;
  font-weight:900;
  color:#EA0000;
  margin-bottom:15px;
  }
  
  .bank_name{
   font-size:95%;
   font-weight:800;
   color:#000079; 
    
  }
  .account_number{
    font-size:120%;
    font-weight:800;
    color:#613030;
  }
  
  .account_number1{
    color:#613030;
  }
  
  .account_name{
  font-size:120%;
  font-weight:900;
  color:#28004D;    
  }
  
  .account_notice{
  font-size:200%;
  font-weight:bold;
  color:#FF0000;
  }  
}

@media screen and (min-width: 500px) {
  .item img{
    width:40%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/    
  } 
  
  .dots-loader{
    margin-top:25%;
  }
  
  .account_title{
  font-size:175%;
  font-weight:900;
  color:#EA0000;
  margin-bottom:15px;
  }
  
  .bank_name{
   font-size:150%;
   font-weight:800;
   color:#000079; 
    
  }
  .account_number{
    font-size:175%;
    font-weight:800;
    color:#613030;
  }
  
  .account_number1{
    color:#613030;
  }
  
  .account_name{
  font-size:175%;
  font-weight:900;
  color:#28004D;    
  }
  
  .account_notice{
  font-size:250%;
  font-weight:bold;
  color:#FF0000;
  }  
}

.donate_date{
  text-align:right;
  margin-right:5%;
  font-size:85%;
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  font-weight: 500; 
  color:red;  
  
}

.icon-bar
{
  background:green !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background:	#FFDD55 !important; /*Whatever colour you want for background */
}
